.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100% !important;
}
.firstDash {
  display: flex;
  gap: 26px;
  width: 90vw !important;
 
}
.secondDash {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 26px;
  /* height: 70vh !important; */
  align-items: center;
}
.thirdDash {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: green;
}
.missing-item-container {
  margin-top: 20px;
}

.status-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.status-completed {
  background-color: green;
}

.status-incomplete {
  background-color: pink;
}

.status-not-started {
  background-color: yellow;
}
