.missing-tools-container {
  padding: 20px;
  height: 43%;
  width: 100%; /* Changed from 65% to 100% for responsiveness */
  border: 1px solid #b7bbbb;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-width: 1px solid  #b7bbbb;

  }
  
  .heading3 {
  
background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  font-size: 30px;  }
  
  .tools-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tools-table th,.tools-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .tool-ref-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tool-ref-button:hover {
    background-color: #3e8e41;
  }
  
  .primary-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .primary-button:hover {
    background-color: #23527c;
  }
  
  .duration-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tool-ref-button {
    background-color: grey;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }