.receptionSum-container {
    background-color: #f7f7f7;
    padding: 20px;
    height: 30%;
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .heading6 {
    color: black;
    padding: 10px;
    font-size: 33px;
    text-align: left;
    font-weight: bold;
  }
  .imageStyle {
    width: 60px;
    height: 45px;
    gap: 20px;
  }

  
  .status-item {
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .status-item h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }