.rental-tools-container {
  padding: 20px;
  height: 43%;
  width: 100%; /* Changed from 65% to 100% for responsiveness */
  border: 1px solid #b7bbbb;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-width: 1px solid  #b7bbbb;
}

.heading1 {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  font-size: 30px;
}

.tools-table {
  border: none;
}


.tools-table td {
  border: none;
}

.tool-ref-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.tool-ref-button:hover {
  background-color: #3e8e41;
}

.primary-button {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #23527c;
}

.duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* RentalTools.module.css */
.tableHeader, .tableData {
  color: #333;
  text-align: center;
}

.tableDataImage {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.statusCircle {
  background-color: #333; /* This color will be overridden by inline style */
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.statusContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.rentalImage{
  width:20px;
  height:20px;
  border-radius:100%;
}

/* Added for responsiveness */
/* @media screen and (max-width: 600px) {
  .tools-table, .tools-table th, .tools-table td {
    display: block;
  }
} */