.tools-and-status-container {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .tools-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tools-table th,.tools-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .tool-ref-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tool-ref-button:hover {
    background-color: #3e8e41;
  }